.auth-container {

    display: flex;

    min-height: 100vh;
}

.auth-left {

    flex: 1;

    background: #DBEAFE;

    display: flex;

    align-items: center;

    justify-content: center;
}

.auth-left img {

    width: 80%;

    max-width: 500px;
}

.auth-right {

    flex: 1;

    display: flex;

    align-items: center;

    justify-content: center;

    padding: 40px;
}

.auth-card {

    width: 100%;

    max-width: 450px;
}

.auth-card h1 {

    font-size: 38px;

    margin-bottom: 10px;
}

.auth-card p {

    color: #64748B;

    margin-bottom: 30px;
}

.input-group {

    display: flex;

    flex-direction: column;

    margin-bottom: 18px;
}

.input-group label {

    margin-bottom: 8px;

    font-weight: 500;
}

.input-group input {

    padding: 14px;

    border: 1px solid #CBD5E1;

    border-radius: 10px;

    outline: none;
}

.input-group input:focus {

    border-color: #2563EB;
}

.btn-primary {

    width: 100%;

    border: none;

    cursor: pointer;

    margin-top: 10px;

    font-size: 16px;
}

.auth-card span {

    display: block;

    margin-top: 20px;

    text-align: center;
}

.auth-card a {

    color: #2563EB;

    font-weight: 600;
}