:root {

    --primary: #2563EB;
    --primary-dark: #1E40AF;

    --text: #0F172A;

    --gray: #64748B;
    --gray-light: #F8FAFC;

    --white: #FFFFFF;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Poppins', sans-serif;

    color: var(--text);

    background: white;
}

.container {

    width: 90%;

    max-width: 1200px;

    margin: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}