header {

    background: white;

    position: sticky;

    top: 0;

    z-index: 999;

    box-shadow: 0 2px 10px rgba(0,0,0,.05);
}

.navbar {

    height: 80px;

    display: flex;

    justify-content: space-between;

    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo p {
    font-size: 28px;
    font-weight: 700;
    color: #0F172A;
}

.menu {

    display: flex;

    gap: 35px;
}

.menu a {

    color: #0F172A;

    font-weight: 500;
}

.actions {

    display: flex;

    gap: 15px;
}

.btn-primary {

    background: #2563EB;

    color: white;

    padding: 12px 24px;

    border-radius: 10px;
}

.btn-outline {

    border: 2px solid #2563EB;

    color: #2563EB;

    padding: 12px 24px;

    border-radius: 10px;
}

.hero {

    padding: 80px 0;
}

.hero-content {

    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 50px;
}

.hero-text {

    flex: 1;
}

.hero-text h1 {

    font-size: 52px;

    line-height: 1.2;

    margin-bottom: 20px;
}

.hero-text p {

    color: #64748B;

    margin-bottom: 30px;

    font-size: 18px;
}

.hero-buttons {

    display: flex;

    gap: 15px;
}

.hero-image {

    flex: 1;
}

.stats {

    background: #F8FAFC;

    padding: 60px 0;
}

.stats-grid {

    display: grid;

    grid-template-columns: repeat(4,1fr);

    gap: 20px;
}

.stat-card {

    background: white;

    padding: 30px;

    text-align: center;

    border-radius: 15px;
}

.stat-card h2 {

    color: #2563EB;

    margin-bottom: 10px;
}

.how {

    padding: 80px 0;
}

.how h2 {

    text-align: center;

    margin-bottom: 50px;
}

.steps {

    display: grid;

    grid-template-columns: repeat(4,1fr);

    gap: 20px;
}

.step {

    background: #F8FAFC;

    padding: 30px;

    text-align: center;

    border-radius: 15px;
}

.step span {

    width: 50px;

    height: 50px;

    display: flex;

    align-items: center;

    justify-content: center;

    background: #2563EB;

    color: white;

    margin: auto;

    border-radius: 50%;

    margin-bottom: 20px;
}

.features {

    padding: 80px 0;
}

.features h2 {

    text-align: center;

    margin-bottom: 50px;
}

.feature-grid {

    display: grid;

    grid-template-columns: repeat(4,1fr);

    gap: 20px;
}

.feature-card {

    background: white;

    border: 1px solid #E2E8F0;

    padding: 30px;

    border-radius: 15px;
}

footer {

    background: #1E40AF;

    color: white;

    padding: 50px 0;

    text-align: center;
}